/BlockHelper.class
/ClientHelper.class
/CraftingHelper.class
/InventoryHelper.class
/NBTHelper$NBTListIncrement$Iter.class
/NBTHelper$NBTListIncrement.class
/NBTHelper.class
/ObjectHelper$IntegerIncrement$Iter.class
/ObjectHelper$IntegerIncrement.class
/ObjectHelper.class
/InventoryHelper$1.class
